$desktop: 900px;
$tablet: 650px;

$atomic-tangerine: #e88d67ff;
$rosy-brown: #bb999cff;
$rosy-light: rgba(245, 240, 240, 0.697);
$cool-gray: #9999c3ff;
$vista-blue: #7b8cdeff;
$mint-green: rgba(212, 240, 234, 0.407);
$button: rgba(153, 153, 195, 0.545);


$hand: 'Mynerve', cursive;
$fine: 'Belleza', sans-serif;
$bread: 'Nanum Gothic', sans-serif;
